 body{
    margin:0;
    background-color:rgb(18, 16, 16);
    color:white
 }
 
 
 .navbar {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color: black;
}
.navbar-left{
    padding-left: 40px;

}
.navbar-right{
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.a-element{ 
    padding: 8px;
    margin:8px;
    font-size:15px ;
    font-weight: bold;

}
.home{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    height: 500px;

}
.home-left{
    width:50vw;
    padding-left: 100px;
    text-align: center;
}
.OBJECTIVE{
    font-family:'Times New Roman', Times, serif;
    font-size: 40px;
}
.par{
    font-family:italic;
    font-size: 20px;
    text-align: left;
    letter-spacing: 2px;
    
}
.home-right{
    padding-left:50px ;
}
.img{
    width:300px;
    height: 300px;
    padding:100px 100px;
}
.skills{
    text-align: center;
    padding: 50px;
}
.skill-h1{  
    color: blueviolet; 
    font-size: 50px;
    font-style: italic;
    letter-spacing: 2vh;
}   
.sub-skills{
    display: flex;
    flex-direction:row;
}
.sub-skill-head{
    border:2px red solid;
    margin:20px;
    padding: 20px;
    width:300px;
}
.s-h1{
    font-size: 20px;

}
.s-p{
    font-size: 10px;
}
.project{
    text-align: center;
    padding: 50px;
}
.project-h1{
    color:aqua;
    font-size: 50px;
    font-style: italic;
    letter-spacing:2vh;
}
.sub-project{
    display:flex;
    flex-direction: column;
}
.sub-project-h1{
    padding:30px;
    text-align: left;
}
.h-1{
    font-size: 20px;
}
.p-1{
    font-size: 20px;
}
.CONTACT{
    text-align: center;
}
.contact-info{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}
.social-icon-img{
    height:50px;
    padding: 20px;

}
.contactus{
    font-style: italic;
    font-weight: bold;
    color: blue;
}